<tr id='category-list-table-item' bgcolor="#F2F2F2" height="20">
	<td id='category-num' width="50" align="center"><%=index %></td>
	<td id='category-name' width="450" align="left"><%=name %></td>
	<td width="100" align="center"><a id='update-category' href='#' data-no='<%=no %>' data-name='<%=name %>'>수정</a></td>
	<td width="100" align="center"><a id='delete-category' href='#' data-no='<%=no %>' data-name='<%=name %>'>삭제</a></td>
</tr>