<tr id='faq-list-table-item' bgcolor="#F2F2F2" height="20">
	<td id='faq-num' width="50" align="center"><%=index %></td>
	<td id='faq-title' width="450" align="left"><%=title %></td>
	<td width="100" align="center"><a id='update-faq' href='#' data-no='<%=no %>' data-title='<%=title %>' data-content='<%=content %>'>수정</a></td>
	<td width="100" align="center"><a id='delete-faq' href='#' data-no='<%=no %>' data-title='<%=title %>'>삭제</a></td>
</tr>